@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto;
}

@layer components {
  .btn {
    @apply w-[40px] h-[40px] rounded-full flex items-center justify-center active:bg-dark_hover_1;
  }
  .rotateAnimation {
    animation: rotate 0.2s forwards;
  }
  @keyframes rotate {
    0% {
      transform: rotate(-90deg);
    }
  }

  /* custom scrollbar */
  .custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #202c33 #324a57; /* For Firefox */
  }

  /* For Chrome, Edge, Safari */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #324a57;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #202c33;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
  }
}

